body
{
	background:linear-gradient(pink,white);
	display:flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	
}
#output{
	font-size: 37px;
	border: 2px dashed black ;
	width: 100px;
	height: 50px;
	align-items: center;
	text-align: center;
	align-content: center;
}