body{
	display:flex;
	background-color:pink;
	text-align: center;
	align-items:center;
	justify-content: center;
	background-size: 100%;
	height:100vh;

}
#js{
	color:red;
	font-size: 50px;
	font-style: italic;
	display: inline;
}
.layout
{
	border: 1px solid black;
	box-shadow: 10px 5px 20px 5px red;
	height: 400px;
	width: 400px;
	box-align:center;
	justify-content: center;

}
#li{
	font-size: 30px;
}
