<div>
  <br>
  <mat-card class="mat-typography">
      <label class="label">EMPLOYEE EDIT FORM</label>
    <section class="mat-typography">
      <!-- <h3>Update Issue</h3> -->
    </section>
    <mat-divider></mat-divider>
    <br>
    <form [formGroup]="updateForm" class="edit-form">
      <mat-form-field class="field-full-width">
        <input matInput placeholder="enter name" formControlName="name" #name>
      </mat-form-field>
      <mat-form-field class="field-full-width">
        <input matInput placeholder="enter email" formControlName="email" #email>
      </mat-form-field>
      <mat-form-field class="field-full-width">
        <textarea matInput placeholder="enter branch" formControlName="branch" #branch></textarea>
      </mat-form-field>
      <mat-form-field class="field-full-width">
        <textarea matInput placeholder="enter tech" formControlName="tech" #tech></textarea>
      </mat-form-field >
      <mat-divider></mat-divider>
      <input size="60" type="file" (change)="onFileChanged($event)" formControlName="productImage" #productImage>
      <br><br>

      <br><br>
      <button mat-raised-button color="accent" routerLink="/list">Back</button>&nbsp;
      <button type="submit" (click)="updateIssue(name.value, email.value, branch.value, tech.value)" [disabled]="updateForm.pristine || updateForm.invalid" mat-raised-button color="primary">Save</button>
    </form>
  </mat-card>
</div>