body
{
	background-image: url('586156770-640x640.jpg');
	text-align: center;
	background-size: 100%;
}

#btn{
	background-color: pink;
	border-radius: 50px;
	padding: 10px;
	
}
h2{
background-color: #77ff33;
padding: 30px;	
}
#num{
	margin-top: 200px;
	padding: 40px;
}
#letter{
	padding: 10px;
	text-align: center;
}

.header{
	color:blue;
}
#demo{
	color:red;
	border:3px solid green;
	height: 50px;
	width: 100px;
	align-items: center;
	margin-left: 550px;
}